main {
    margin: 10px 350px 0px 350px;
    text-align: justify;
}

.gif:hover {
    transform:scale(1.5);
}

.hidden {
    display: none;
}
/* :root {
    --main-color: lightgray;
}

body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    width: 100%;
}

main {
    width: 30vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    position: relative;
    top: 30vh;
}

button {
    font-size: 20px;
    text-style: uppercase;s
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    position: absolute;
    bottom: 0px; 
} */